<!-- Footer -->
    <footer class="bg-info">
     <div class="container">
       <div class="row">
       
                <div class="col-md-4 col-sm-6 col-xs-12">
             
                  <%= image_tag("logo-oa-sf.png")%>
                </div>
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>    
                         <li>
                            <a href="#">Home</a>
                          </li>
                               
                          <li>
                             <a href="#">Leilões</a>
                          </li>
                               
                          <li>
                            <a href="#">Produtos</a>
                          </li>
                               
                          <li>
                             <a href="#">Gallery </a>
                          </li>
                     </ul>
                </div>
           
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="adress">
                        <span>Contact</span>       
                        <li>
                           <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">Email</a>
                        </li> 
                   </ul>
               </div>
           
           
           </div> 
        </div>
        <div class="container">
          <p class="text-center ">Copyright &copy; Online Auction 2017</p>
      </div>
    </footer>