	<div class="sidebar">
            <!-- Sidebar Holder -->
            
                <div class="sidebar-header">
                    <a href="/"><h3>Online Auction</h3></a>
                </div>

                <ul class="list-group">
                    <li><a href="#" class="list-group-item">Dashboard</a></li>
                    <li><a href="#" class="list-group-item">Meu Perfil</a></li>
                    <li><a href="#" class="list-group-item">Meus Lances</a></li>
                    <li><%= link_to 'Leiloes', users_auctions_path, class: "list-group-item" %></li>
                    <li><%= link_to 'Produtos', users_products_path, class: "list-group-item" %></li>
                </ul>

                <ul class="list-unstyled CTAs">
                    

                    <li><a href="#" class="article">Logout</a></li>
                </ul>
            </nav>

	</div>