	<div class="sidebar">
            <!-- Sidebar Holder -->
<<<<<<< HEAD
 
               
                
                    <li><a href="#" class="btn btn-info btn-lg">Dashboard</a></li>
                    <li><%= link_to 'Meus Lances', '#', class: "btn btn-info btn-lg" %></li>
                
=======
            
                <div class="sidebar-header">
                    <a href="/"><h3>Online Auction</h3></a>
                </div>

                <ul class="list-group">
                    <li><a href="#" class="list-group-item">Dashboard</a></li>
                    <li><a href="#" class="list-group-item">Meu Perfil</a></li>
                    <li><a href="#" class="list-group-item">Meus Lances</a></li>
                    <li><%= link_to 'Leiloes', users_auctions_path, class: "list-group-item" %></li>
                    <li><%= link_to 'Produtos', users_products_path, class: "list-group-item" %></li>
                </ul>
>>>>>>> master

                <ul class="list-unstyled CTAs">
                    

<<<<<<< HEAD
                    <li><a href="#" class="btn btn-primary">Logout</a></li>
                </ul>
 
=======
                    <li><a href="#" class="article">Logout</a></li>
                </ul>
            </nav>
>>>>>>> master

	</div>