<div class="sidebar-header">
	<h3>
		<%= link_to 'DASHBOARD', admins_root_path, class: 'sidebar-header' %>
	</h3>    
</div>

<ul class="list-group">    
    <li class="list-group-item"><%= link_to 'Usuários', 
        '#'%></li>
    <li class="list-group-item"><%= link_to 'Leiloes',
        admins_auctions_path%></li>
    <li class="list-group-item"><%= link_to 'Produtos',
        admins_products_path%></li>
</ul>
<ul class="list-unstyled CTAs">                   
    <li class="list-group-item"><a href="#" >Logout</a></li>
</ul>
    


