	<div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="/"><h3>Online Auction</h3></a>
                </div>

                <ul class="list-unstyled CTAs">
                    <li><a href="#" class="download">Dashboard</a></li>
                    <li><a href="#" class="download">Usuários</a></li>
                    <li><a href="#" class="download">Leilões</a></li>
                    <li><a href="#" class="download">Produtos</a></li>
                </ul>

                <ul class="list-unstyled CTAs">
                    

                    <li><a href="#" class="article">Logout</a></li>
                </ul>
            </nav>

	</div>