	<div class="wrapper">
            <!-- Sidebar Holder -->
 
               
                <ul class="list-group">
                    <li><a href="#" class="list-group-item">Dashboard</a></li>
                    <li><a href="#" class="list-group-item">Usuários</a></li>
                    <li><%= link_to 'Leiloes', admins_auctions_path, class: "list-group-item" %></li>
                    <li><%= link_to 'Produtos', admins_products_path, class: "list-group-item" %></li>
                </ul>

                <ul class="list-unstyled CTAs">
                    

                    <li><a href="#" class="btn btn-primary">Logout</a></li>
                </ul>
 

	</div>