<!-- Page Content -->
<div class="container-fluid">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Leilões
    <small>Secondary Text</small>
  </h1>

  <!-- Portfolio Item Row -->
   <div class="row">

    

    <div class="col-md-4 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-4 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>



  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Produtos em destaque</h3>

  <div class="row">

    <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card" style="height: 450px;">

        <!--Card image-->
        
            <%= link_to image_tag(product.images.first.url(:medium), :style => "max-height: 180px !important"), product_path(product) %>

        </a>        
        <hr>
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= product.name %></h4>
            <!--Text-->
            <p class="card-text"><%= truncate(product.description, lenght: 50) %></p>
            <p class="card-text">Lance Atual: <strong> <%= product.price %> </strong></p>
            <a href="#" class="btn btn-primary fixed-bottom" >Lance!</a>
        </div>
      </div>
    </div>
    <% end %>


    </div>

  </div>
  <!-- /.row -->

</div>
    <!-- /.container -->