<h3>Leilões</h3>
<table class="table table-bordered">
    <tr>
        
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Qtde de Itens</th>
        <th>Início</th>
        <th>Término</th>
        <th>Ações</th>
    </tr>

    <tr>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        	<a class="btn btn-xs btn-info"></a></a>
        	<a class="btn btn-xs btn-warning"></a></a>
        	<a class="btn btn-xs btn-danger"></a></a>
        	</td>
    </tr>
      
</table>
