<h4 class= "text-center">Produtos Disponíveis</h4>
<div class="row">

    <% @products.each do |product| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card" style="height: 450px;">

        <!--Card image-->
        <% if !product.images.first.blank? %>
           <%= image_tag(product.images.first.url(:medium), :style => "height: 180px !important") %>
            <%= link_to "Show", product_url(product.id), class: 'btn btn-sm btn-info' %>
        <% else %>
           <img src="/images/fallback/default.png">
        <% end %>
           

        </a>        
        <hr>
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= product.name %></h4>
            <!--Text-->
            <p class="card-text"><%= truncate(product.description, lenght: 50) %></p>
        </div>
      </div>
    </div>
    <% end %>


    </div>

  </div>
  <!-- /.row -->